.symbol-label {
    padding: .2em .1em;
    font-size: 10.5pt;
    color: #cccccc;
    border-radius: .1em;
    width: 60px;
}

.status-label {
    padding: .2em .1em;
    margin-right: 5px;
    font-size: 10.5pt;
    color: #cccccc;
    border-radius: .1em;
    width: 60px;
    text-align: right;
}

.spacer {
    width: 4em;
}

.price-change {
    padding: .2em .1em;
    font-size: 10.5pt;
    color: white;
    background-color: #67db3b;
    border-radius: 2px;
    width: 70px;
}

.remove_icon {
	padding:0;
	margin:0;
	height:50%;
}

.newCompanySection {
	padding:0 12px;
}

/* Same style as #searchEntry on theme/gnome-shell.css */

#newCompanyEntry {
	padding: 4px 12px;
	border-radius: 17px;
	color: rgb(128, 128, 128);
	border: 2px solid rgba(245,245,245,0.2);
	background-gradient-start: rgba(5,5,6,0.1);
	background-gradient-end: rgba(254,254,254,0.1);
	background-gradient-direction: vertical;
	selected-color: black;
	caret-color: rgb(128, 128, 128);
	caret-size: 1px;
	width: 150px;
	transition-duration: 300;
	box-shadow: inset 0px 2px 4px rgba(0,0,0,0.6);
}

#newCompanyEntry:focus,
#newCompanyEntry:hover {
	border: 2px solid rgb(136,138,133);
}

#newCompanyEntry:hover {
	transition-duration: 300;
}

#newCompanyEntry:focus {

	font-weight: bold;
	transition-duration: 0;
}
